<div class="tw-w-full tw-mx-auto tw-max-w-[950px] tw-flex tw-flex-col tw-space-y-2 tw-text-center tw-justify-center">
  <p class="tw-font-semibold tw-text-slate-800">Base Url: <a [href]="url.baseUrl"
                                                             class="tw-font-bold">{{url.baseUrl}}</a></p>
  <p class="tw-font-semibold tw-text-slate-800">Shortened Url: <a [href]="url.shortenedUrl"
                                                                  class="tw-font-bold">{{url.shortenedUrl}}</a></p>
  <p class="tw-font-semibold tw-text-slate-800">Created At: <span class="tw-font-bold">{{url.created | date}}</span></p>
  <p class="tw-font-semibold tw-text-slate-800">Hash: <span class="tw-font-bold">{{url.hash}}</span></p>
</div>
