<div class="tw-w-full tw-flex tw-flex-col tw-justify-center tw-items-center tw-max-w-[950px] tw-mx-auto tw-space-y-5">

  <form class="tw-w-full" (submit)="createUrl()" *ngIf="isAuthenticated | async">
    <label for="search" class="tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900 tw-sr-only twdark:tw-text-white">Search</label>
    <div class="relative">
      <input type="text"
             id="search"
             name="url"
             [(ngModel)]="createShortUrl.url"
             class="tw-block tw-w-full tw-p-4 tw-pl-10 tw-text-sm tw-text-gray-900 tw-border tw-border-gray-300 tw-rounded-lg tw-bg-gray-50 focus:tw-ring-blue-500 focus:tw-border-blue-500 dark:tw-bg-gray-700 dark:tw-border-gray-600 dark:tw-placeholder-gray-400 dark:tw-text-white dark:focus:tw-ring-blue-500 dark:focus:tw-border-blue-500"
             placeholder="Add url here..." required>
    </div>
  </form>


  <div class="tw-w-full tw-relative tw-overflow-x-auto" *ngIf="urls && urls.length > 0">
    <table class="tw-w-full tw-text-sm tw-text-left tw-text-gray-500 dark:tw-text-gray-400">
      <thead class="tw-text-xs tw-text-gray-700 tw-uppercase tw-bg-gray-50 dark:tw-bg-gray-700 dark:tw-text-gray-400">
      <tr>
        <th scope="col" class="tw-px-6 tw-py-3">
          Base Url
        </th>
        <th scope="col" class="tw-px-6 tw-py-3">
          Encoded Url
        </th>
        <th scope="col" class="tw-px-6 tw-py-3"
            *ngIf="isAuthenticated"
        >
          Actions
        </th>
      </tr>
      </thead>
      <tbody>
      <tr class="tw-bg-white tw-border-b" *ngFor="let url of urls">
        <th scope="row"
            class="tw-px-6 tw-whitespace-pre-line tw-py-4 tw-font-medium tw-text-gray-900 tw-whitespace-nowrap ">
          <a [href]="url.baseUrl">
            {{url.baseUrl}}
          </a>
        </th>
        <td class="tw-px-6 tw-py-4">
          <a [href]="url.shortenedUrl">
            {{url.shortenedUrl}}
          </a>
        </td>
        <td class="tw-px-6 tw-py-4 tw-flex tw-space-x-2 tw-justify-center tw-self-center tw-items-center">
          <button class="tw-px-4 tw-py-2 tw-rounded-md tw-bg-rose-500 tw-font-semibold text-white"
                  (click)="delete(url)"
                  *ngIf="url.isDeletable">
            Delete
          </button>
          <a [routerLink]="['/urls', url.id]"
             *ngIf="isAuthenticated"
             class="tw-px-4 tw-py-2 tw-rounded-md tw-bg-sky-500 tw-font-semibold text-white"
          >
            Details
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="tw-w-full tw-relative tw-flex tw-flex-col tw-justify-center tw-items-center tw-overflow-x-auto"
       *ngIf="!urls || urls.length <= 0">
    <span class="tw-font-semibold tw-self-center tw-text-center">There are no urls yet.</span>
  </div>

</div>
